---
import BaseLayout from "@/Layouts/BaseLayout.astro";
import type { Links } from "@/types/Links";


const res = await fetch(`${Astro.url.origin}/api/getLink.json`)

const { data } = await res.json();
---

<BaseLayout>
	<ul class="flex items-center justify-between py-10">
		{data.map((i: Links) => <li class="flex items-center justify-between bg-indigo-700 font-semibold text-white w-52 p-4 rounded-md">{i.title} <i class="fa-solid fa-link"></i> </li>)}
	</ul>
</BaseLayout>
